<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ Nome }}</title>

    <!-- CSS-->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!--Import materialize.css-->
    <!-- <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css'%}"  media="screen,projection"/> -->



    <!-- <script  src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script  src="{% static 'js/bootstrap.js' %}"></script>
    <script  src="{% static 'js/jquery.js' %}"></script> -->
</head>







<body>
        <a href="http://127.0.0.1:8000">
        <img src="{% static 'image/inkless_logo.png' %}" alt="Inkless-logo" height="55" width="120" class="minhaImagemInkless"></a>
        <img src="{% static 'image/logo_mongeral.png' %}" alt="Mongeral-logo" height="55" width="180" class="minhaImagemMongeral">
        <hr style="margin-top: -0.25em;">
        <div align="center">
                <button type="button" style="left:-20px;" class="btn btn-light" onclick="location.href='/paginaSegurado';">Segurado</button>
                <button type="button" style="left:20px;" class="btn btn-primary">Beneficiário</button>

        </div>
        <br></br>
        <h4  style="color: #2679c0;font-weight:bold" class="textoSegurado">
                {{ Nome }}
        </h4>
        <h4 class="textoSegurado">
                        CPF: {{ CPF }}
        </h4>
        <h4 class="textoSegurado">
                        Data de Nascimento: {{ dataDeNasc }}
        </h4>
        <h4 class="textoSegurado">
                Email: {{ email }}
        </h4>

        <h4 class="textoStatus">
                Status do processo:
        </h4>
        
        <select class = "meuDropdown" id="dropdown" onchange="mudancaStatus()">
                        {% if status == "Aviso" %}
                                <option  selected="selected">Aviso</option>
                                <option>Em análise</option>
                                <option>Regulação</option>
                                <option>Parcialmente pago</option>
                                <option>Pago</option>
                                <option>Negado</option>

                        {% elif status == "Em análise" %}
                                <option >Aviso</option>
                                <option selected="selected">Em análise</option>
                                <option>Regulação</option>
                                <option>Parcialmente pago</option>
                                <option>Pago</option>
                                <option>Negado</option>

                        {% elif status == "Regulação" %}
                                <option >Aviso</option>
                                <option>Em análise</option>
                                <option selected="selected">Regulação</option>
                                <option>Parcialmente pago</option>
                                <option>Pago</option>
                                <option>Negado</option>

                        {% elif status == "Parcialmente pago" %}
                                <option >Aviso</option>
                                <option>Em análise</option>
                                <option >Regulação</option>
                                <option selected="selected">Parcialmente pago</option>
                                <option>Pago</option>
                                <option>Negado</option>

                        {% elif status == "Pago" %}
                                <option >Aviso</option>
                                <option>Em análise</option>
                                <option >Regulação</option>
                                <option>Parcialmente pago</option>
                                <option selected="selected">Pago</option>
                                <option>Negado</option>

                        {% elif status == "Negado" %}
                                <option >Aviso</option>
                                <option>Em análise</option>
                                <option ">Regulação</option>
                                <option>Parcialmente pago</option>
                                <option>Pago</option>
                                <option selected="selected">Negado</option>

                        {% endif %}
        </select>

        <div class="container">
                <div class="row">
                  <div class="col">
                        <h4 class="colunaEsquerda">
                                Telefone: 
                        </h4>
                        <h4  class="colunaEsquerda" >
                                Celular: {{ celular }}
                        </h4 >
                        <br></br>
                        <h4 class="colunaEsquerda">
                                Endereço residencial:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Número:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Complemento:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Bairro:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Cidade:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Estado:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Possui comprovante de residência? 
                        </h4>
                        <br></br>
                        <h4 class="colunaEsquerda">
                                Profissão:
                        </h4>
                        <h4 class="colunaEsquerda">
                                Faixa de renda:
                        </h4>

                  </div>
                  <div class="col">
                        
                        <h4 style="color: #2679c0;top:-30px;font-weight: bold" class="colunaDireita">
                               Documentos
                        </h4>
 
                        <table style="text-align: left;" class="colunaDireita table table-striped">
                                <!-- Documentos obrigatorios -->

                                <tr>
                                        <td style="vertical-align: middle" colspan="4" >Documento de Identificação</td>
                                        <td style="vertical-align: middle"><a href= {{ linkId }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="1" onclick="solicitaDocumentos('Documento de Identificação',this.id)">Solicitar Novamente </a></td>
                                </tr>

                                        <td style="vertical-align: middle" colspan="4" >Comprovante de Residência</td>
                                        <td style="vertical-align: middle"><a href="{% static 'Residencia.pdf' %}" target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="2" onclick="solicitaDocumentos('Comprovante de Residência',this.id)">Solicitar Novamente </a></td>
                                </tr>
                                        <!-- Documentos nao obrigatorios -->
                                <tr>
                                                <!-- word-wrap:break-word;overflow-wrap:break-word; -->

                                        <td colspan="4" >Informações tributárias complementares</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="3" onclick="solicitaDocumentos('Informações tributárias complementares',this.id)">Solicitar</a> </td>
                                </tr>

                                <tr>

                                        <td colspan="4" >Certidão de nascimento</td>
                                        <!-- <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td> -->
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="4" onclick="solicitaDocumentos('Certidão de nascimento',this.id)">Solicitar</a> </td>
                                </tr>


                                <tr>

                                        <td colspan="4" >Termo de tutela</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="5" onclick="solicitaDocumentos('Termo de tutela',this.id)">Solicitar</a> </td>
                                        
                                </tr>

                                <tr>

                                        <td colspan="4" >Termo de cautela</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="6" onclick="solicitaDocumentos('Termo de cautela',this.id)">Solicitar</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4">Contrato social </td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="7" onclick="solicitaDocumentos('Contrato social',this.id)">Solicitar</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4" >Declaração rol de herdeiros</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="8" onclick="solicitaDocumentos('Declaração rol de herdeiros',this.id)">Solicitar</a> </td>
                                </tr>
                                
                                <tr>

                                        <td colspan="4" >Declaração de união estável</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="9" onclick="solicitaDocumentos('Declaração de união estável',this.id)">Solicitar</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4" >Comprovante de vínculo com o segurado</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="10" onclick="solicitaDocumentos('Comprovante de vínculo com o segurado',this.id)">Solicitar</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4" >Cédula de financiamento</td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="11" onclick="solicitaDocumentos('Cédula de financiamento',this.id)">Solicitar</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4" >Cópia do domicílio bancário </td>
                                        <td colspan="2" style="text-align:center;"><a href="#!" id="12" onclick="solicitaDocumentos('Cópia do domicílio bancário',this.id)">Solicitar</a> </td>
                                </tr>

                                

                              </table>
                  </div>
        </div>
</body>

<footer>

        <script type="text/javascript" src="{% static 'js/funcoes.js' %}"></script>


        <script>
        function mudancaStatus()
        {
                
                var e = document.getElementById("dropdown");
                var strUser = e.options[e.selectedIndex].text
                $.ajax({
                        url: "/processaRequestStatus",
                        type: "POST", 
                        data: {
                                statusProc: strUser,
                                csrfmiddlewaretoken: '{{ csrf_token }}'
                                }
                        });
        }  
        </script>


        <script>
                function solicitaDocumentos(Doc,idDoc)
                {
                        
                        var labelDoc = document.getElementById(idDoc)
                        style="pointer-events: none;cursor: default;"
                        labelDoc.innerHTML="Solicitado"
                        labelDoc.style.color="gray"
                        labelDoc.style.pointerEvents="none"
                        labelDoc.style.cursor="default"
                        $.ajax({
                                url: "/processaRequestDoc",
                                type: "POST", 
                                data: {
                                        statusDoc: Doc,
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                        }
                                });
                }  
        </script>




        <!-- <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script> -->
        
</footer>
</html>




                       <!-- CODIGO NAO USADO:
                               <ul style="list-style-type:none"> 
                                <li class="elementoLista"> Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                                <li></li>
                                <li class="elementoLista">Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                                <li></li>
                                <li class="elementoLista">Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                        </ul> -->