<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ Nome }}</title>

    <!-- CSS-->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
</head>







<body>
        <a href="http://127.0.0.1:8000">
        <img src="{% static 'image/inkless_logo.png' %}" alt="Inkless-logo" height="55" width="120" class="minhaImagemInkless"></a>
        <a href=https://www.mongeralaegon.com.br/>
        <img src="{% static 'image/logo_mongeral.png' %}" alt="Mongeral-logo" height="55" width="180" class="minhaImagemMongeral"></a>
      
        <hr style="margin-top: -0.25em;">
        <div align="center">
                <button type="button" style="left:-20px;" class="btn btn-primary">Segurado</button>
                <button type="button" style="left:20px;" class="btn btn-light" onclick="location.href='/paginaBeneficiario';">Beneficiário</button>
        </div>
        <br></br>
        <h4  style="color: #2679c0;font-weight:bold" class="textoSegurado">
                {{ Nome }}
        </h4>
        <h4 class="textoSegurado">
                        CPF: {{ CPF }}
        </h4>
        <h4 class="textoSegurado">
                        Data de Nascimento: 18/09/2018
        </h4>
        <div style="position:relative;top:32px;left: -5px;margin-bottom: -16px;" >
                <h4 style="position: relative;left:108px;"class="textoStatus">
                                Status do processo:
                        </h4>
                        
                        <select class = "meuDropdown" id="dropdown" onchange="mudancaStatus()">
                                {% if status == "Aguardando envio do documento" %}
                                        <option  selected="selected">Aguardando envio do documento</option>
                                        <option>Aviso</option>
                                        <option>Em análise</option>
                                        <option>Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option>Negado</option>
                              
                                {% elif status == "Aviso" %}
                                        <option> Aguardando envio do documento</option>
                                        <option  selected="selected">Aviso</option>
                                        <option>Em análise</option>
                                        <option>Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option>Negado</option>
        
                                {% elif status == "Em análise" %}
                                        <option  >Aguardando envio do documento</option>
                                        <option >Aviso</option>
                                        <option selected="selected">Em análise</option>
                                        <option>Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option>Negado</option>
        
                                {% elif status == "Regulação" %}
                                        <option  >Aguardando envio do documento</option>
                                        <option >Aviso</option>
                                        <option>Em análise</option>
                                        <option selected="selected">Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option>Negado</option>
        
                                {% elif status == "Parcialmente pago" %}
                                        <option  >Aguardando envio do documento</option>
                                        <option >Aviso</option>
                                        <option>Em análise</option>
                                        <option >Regulação</option>
                                        <option selected="selected">Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option>Negado</option>
        
                                {% elif status == "Pago" %}
                                        <option  >Aguardando envio do documento</option>
                                        <option >Aviso</option>
                                        <option>Em análise</option>
                                        <option >Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option selected="selected">Pago</option>
                                        <option>Negado</option>
        
                                {% elif status == "Negado" %}
                                        <option  >Aguardando envio do documento</option>
                                        <option >Aviso</option>
                                        <option>Em análise</option>
                                        <option ">Regulação</option>
                                        <option>Parcialmente pago</option>
                                        <option>Pago</option>
                                        <option selected="selected">Negado</option>
                
                                {% endif %}
                        </select>
                </div>

        <br></br>
        <div class="container">
                <div class="row">
                  <div class="col">
                        <h4 class="colunaEsquerda">
                                Benefício: {{ beneficioRequerido }}
                        </h4>
                        <h4 class="colunaEsquerda">
                                Número da proposta: {{ numeroProposta }}
                        </h4>
                        {% if matricula != "" %}
                        <h4  class="colunaEsquerda" >
                                Matrícula: {{ matricula }}
                        </h4 >
                        {% endif %}
                        <h4 class="colunaEsquerda">
                                Plano: Individual
                        </h4>
                        {% if nomeEstipulante != "" %}
                        <h4 class="colunaEsquerda">
                                Nome do estipulante: {{ nomeEstipulante }}
                        </h4>
                        {% endif %}
                  </div>
                  <div style="position: relative;left:-7px;" class="col">
                        <h4 style="color: #2679c0;top:-30px;font-weight: bold" class="colunaDireita">
                               Documentos 
                        </h4>
 
                        <table style="text-align: left;" class="colunaDireita table table-striped">
                        <!-- Documentos obrigatorios -->
                                {% if statusDoc1 == True %}
                                <tr id="Linha1">
                                        <td style="vertical-align: middle" colspan="4" >Documento de identificação</td>
                                        <td style="vertical-align: middle"><a href={{ link1 }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="1" onclick="solicitaDocumentosSegurado('Documento de identificação',this.id,true)">Solicitar Novamente </a></td>
                                </tr>
                                {% else %}
                                <tr>
                                        <td colspan="4" >Documento de identificação</td>
                                        <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                </tr>
                                {% endif %}


                                {% if statusDoc2 == True %}
                                <tr id="Linha11">
                                       <td style="vertical-align: middle" colspan="4" >CPF</td>
                                       <td style="vertical-align: middle"><a href={{ link2 }} target="_blank">Abrir</a></td>
                                       <td style="width:80px;text-align: center;"><a href='#!' id="11" onclick="solicitaDocumentosBeneficiario('CPF',this.id,true)">Solicitar Novamente </a></td>
                               </tr>
                               {% else %}
                               <tr>
                                       <td colspan="4" >CPF</td>
                                       <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                               </tr>
                               {% endif %}

                                 <!-- ------------------------------------- -->


                                {% if statusDoc5 == True %}
                                <tr id="Linha2">
                                        <td style="vertical-align: middle" colspan="4" >Certificado de óbito</td>
                                        <td style="vertical-align: middle"><a href={{ link5 }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="2" onclick="solicitaDocumentosSegurado('Certificado de óbito',this.id,true)">Solicitar Novamente </a></td>
                                </tr>
                                {% else %}
                                <tr>
                                        <td colspan="4" >Certificado de óbito</td>
                                        <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                </tr>
                                {% endif %}

                                 <!-- Documentos nao obrigatorios -->
                                {% if statusDoc6 == "Nao solicitado" %}
                                <tr>
                                        <td colspan="4" >Certidão de casamento ou nascimento</td>
                                        <td colspan="2" style="text-align:center;"><a href='#!' id="3" onclick="solicitaDocumentosSegurado('Certidão de casamento ou nascimento',this.id,false)">Solicitar</a></td>
                                </tr>
                                {% elif statusDoc6 == True  %}
                                <tr id="Linha3">
                                        <td style="vertical-align: middle" colspan="4" >Certidão de casamento ou nascimento</td>
                                        <td style="vertical-align: middle"><a href={{ link6 }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="3" onclick="solicitaDocumentosSegurado('Certidão de casamento ou nascimento',this.id,true)">Solicitar Novamente </a></td>
                                </tr>

                                {% else %}
                                        <td colspan="4" >Certidão de casamento ou nascimento</td>
                                        <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                </tr>

                                {% endif %}



                                <!-- ------------------------------------- -->

                                {% if statusDoc3 == "Nao solicitado" %}
                                <tr>
                                        <td colspan="4" >Declaração médica de morte natural</td>
                                        <td colspan="2" style="text-align:center;"><a href='#!' id="4" onclick="solicitaDocumentosSegurado('Declaração médica de morte natural',this.id,false)">Solicitar</a></td>
                                </tr>
                                {% elif statusDoc3 == True  %}
                                <tr id="Linha4">
                                        <td style="vertical-align: middle" colspan="4" >Declaração médica de morte natural</td>
                                        <td style="vertical-align: middle"><a href={{ link3 }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="4" onclick="solicitaDocumentosSegurado('Declaração médica de morte natural',this.id,true)">Solicitar Novamente </a></td>
                                </tr>

                                {% else %}
                                        <td colspan="4" >Declaração médica de morte natural</td>
                                        <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                </tr>

                                {% endif %}




                                 <!-- ------------------------------------- -->

                                {% if statusDoc4 == "Nao solicitado" %}
                                <tr>
                                        <td colspan="4" >Laudo médico</td>
                                        <td colspan="2" style="text-align:center;"><a href='#!' id="5" onclick="solicitaDocumentosSegurado('Laudo médico',this.id,false)">Solicitar</a></td>
                                </tr>
                                {% elif statusDoc4 == True  %}
                                <tr id="Linha5">
                                        <td style="vertical-align: middle" colspan="4" >Laudo médico</td>
                                        <td style="vertical-align: middle"><a href={{ link4 }} target="_blank">Abrir</a></td>
                                        <td style="width:80px;text-align: center;"><a href='#!' id="5" onclick="solicitaDocumentosSegurado('Laudo médico',this.id,true)">Solicitar Novamente </a></td>
                                </tr>

                                {% else %}
                                        <td colspan="4" >Laudo médico</td>
                                        <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                </tr>

                                {% endif %}




                                {% if Juridica == True %}
                                 <!-- ------------------------------------- -->

                                        {% if statusDoc6 == "Nao solicitado" %}
                                        <tr>
                                                <td colspan="4" >GFIP/SEFIP</td>
                                                <td colspan="2" style="text-align:center;"><a href='#!' id="6" onclick="solicitaDocumentosSegurado('GFIP/SEFIP',this.id,false)">Solicitar</a></td>
                                        </tr>
                                        {% elif statusDoc6 == True  %}
                                        <tr id="Linha6">
                                                <td style="vertical-align: middle" colspan="4" >GFIP/SEFIP</td>
                                                <td style="vertical-align: middle"><a href="{% static 'Residencia.pdf' %}" target="_blank">Abrir</a></td>
                                                <td style="width:80px;text-align: center;"><a href='#!' id="6" onclick="solicitaDocumentosSegurado('GFIP/SEFIP',this.id,true)">Solicitar Novamente </a></td>
                                        </tr>

                                        {% else %}
                                                <td colspan="4" >GFIP/SEFIP</td>
                                                <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                        </tr>

                                        {% endif %}



                                        <!-- ------------------------------------- -->


                                        {% if statusDoc7 == "Nao solicitado" %}
                                        <tr>
                                                <td colspan="4" >FRE</td>
                                                <td colspan="2" style="text-align:center;"><a href='#!' id="7" onclick="solicitaDocumentosSegurado('FRE',this.id,false)">Solicitar</a></td>
                                        </tr>
                                        {% elif statusDoc7 == True  %}
                                        <tr id="Linha7">
                                                <td style="vertical-align: middle" colspan="4" >FRE</td>
                                                <td style="vertical-align: middle"><a href="{% static 'Residencia.pdf' %}" target="_blank">Abrir</a></td>
                                                <td style="width:80px;text-align: center;"><a href='#!' id="7" onclick="solicitaDocumentosSegurado('FRE',this.id,true)">Solicitar Novamente </a></td>
                                        </tr>

                                        {% else %}
                                                <td colspan="4" >FRE</td>
                                                <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                        </tr>

                                        {% endif %}


                                        <!-- ------------------------------------- -->


                                        {% if statusDoc8 == "Nao solicitado" %}
                                        <tr>
                                                <td colspan="4" >CAGED</td>
                                                <td colspan="2" style="text-align:center;"><a href='#!' id="8" onclick="solicitaDocumentosSegurado('CAGED',this.id,false)">Solicitar</a></td>
                                        </tr>
                                        {% elif statusDoc8 == True  %}
                                        <tr id="Linha8">
                                                <td style="vertical-align: middle" colspan="4" >CAGED</td>
                                                <td style="vertical-align: middle"><a href="{% static 'Residencia.pdf' %}" target="_blank">Abrir</a></td>
                                                <td style="width:80px;text-align: center;"><a href='#!' id="8" onclick="solicitaDocumentosSegurado('CAGED',this.id,true)">Solicitar Novamente </a></td>
                                        </tr>
        
                                        {% else %}
                                                <td colspan="4" >CAGED</td>
                                                <td colspan="2" style="text-align:center;color: gray">Solicitado </td>
                                        </tr>
        
                                        {% endif %}
                                        
                                {% endif %}
                                 <!-- ------------------------------------- -->



                              </table>
                  </div>
        </div>

</body>

<footer>



        <script>
                function mudancaStatus()
                {
                        
                        var e = document.getElementById("dropdown");
                        var strUser = e.options[e.selectedIndex].text
                        $.ajax({
                                url: "/processaRequestStatus",
                                type: "POST", 
                                data: {
                                        statusProc: strUser,
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                        }
                                });
                }  
        </script>


        <script>
                function solicitaDocumentosSegurado(nomeDoc,idDoc,flagRequisitado)
                {
                        var labelDoc = document.getElementById(idDoc)
                        style="pointer-events: none;cursor: default;"
                        labelDoc.innerHTML="Solicitado"
                        labelDoc.style.color="gray"
                        labelDoc.style.pointerEvents="none"
                        labelDoc.style.cursor="default"
                        if(flagRequisitado == true)
                        {
                                var row = document.getElementById("Linha" + idDoc);
                                row.deleteCell(2);
                                row.deleteCell(1);
                                var x=row.insertCell(1);
                                x.href="#!";
                                x.id=idDoc;
                                x.colSpan="2";
                                x.innerHTML="Solicitado";
                                x.style.textAlign="center"
                                x.style.cursor="default";
                                x.style.color="gray"



                        }
                        else
                        {
                                var labelDoc = document.getElementById(idDoc)
                                style="pointer-events: none;cursor: default;"
                                labelDoc.innerHTML="Solicitado"
                                labelDoc.style.color="gray"
                                labelDoc.style.pointerEvents="none"
                                labelDoc.style.cursor="default"
                        }

                        $.ajax({
                                url: "/processaRequestDocSeg",
                                type: "POST", 
                                data: {
                                        nomeDoc: nomeDoc,
                                        csrfmiddlewaretoken: '{{ csrf_token }}'
                                        }
                                });
                }  
        </script>


</footer>
</html>



