<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ Nome }}</title>

    <!-- CSS-->
    {% load staticfiles %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" type="text/css">
</head>







<body>
        <a href="http://127.0.0.1:8000">
        <img src="{% static 'image/inkless_logo.png' %}" alt="Inkless-logo" height="55" width="120" class="minhaImagemInkless"></a>
        <img src="{% static 'image/logo_mongeral.png' %}" alt="Mongeral-logo" height="55" width="180" class="minhaImagemMongeral">
      
        <hr style="margin-top: -0.25em;">
        <div align="center">
                <button type="button" style="left:-20px;" class="btn btn-primary">Segurado</button>
                <button type="button" style="left:20px;" class="btn btn-light" onclick="location.href='/paginaBeneficiario';">Beneficiário</button>
        </div>
        <br></br>
        <h4  style="color: #2679c0;font-weight:bold" class="textoSegurado">
                {{ Nome }}
        </h4>
        <h4 class="textoSegurado">
                        CPF: {{ CPF }}
        </h4>
        <h4 class="textoSegurado">
                        Data de Nascimento: 18/09/2018
        </h4>
        <h4 class="textoSegurado">
                Email: marcelomolina@gmail.com
        </h4>
        <br></br>
        <div class="container">
                <div class="row">
                  <div class="col">
                        <h4 class="colunaEsquerda">
                                Número da proposta: 12341234
                        </h4>
                        <h4  class="colunaEsquerda" >
                                Matrícula: 1234
                        </h4 >
                        <h4 class="colunaEsquerda">
                                Plano: {{ beneficioRequerido }}
                        </h4>
                        <h4 class="colunaEsquerda">
                                Nome do estipulante:
                        </h4>
                  </div>
                  <div class="col">
                        <h4 style="color: #2679c0;top:-30px;font-weight: bold" class="colunaDireita">
                               Documentos pendentes 
                        </h4>
 
                        <table style="text-align: left;" class="colunaDireita table table-striped">
                                <tr>
                                        <td colspan="4" >Documento de identificação</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>

                                        <td colspan="4" >CPF</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>

                                <tr>

                                        <td colspan="4" >Declaração médica de morte natural</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>

                                <tr>

                                        <td colspan="4" >Laudo médico</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>

                                <tr>

                                        <td colspan="4" >GFIP/SEFIP</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4">FRE</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>
                                <tr>

                                        <td colspan="4" >CAGED</td>
                                        <td><a href="{% static 'res.pdf' %}" target="_blank">Abrir</a></td>
                                        <td><a href="{% static 'res.pdf' %}" download>Download</a> </td>
                                </tr>
                              </table>
                  </div>
        </div>

</body>

<footer>

</footer>
</html>




                       <!-- CODIGO NAO USADO:
                               <ul style="list-style-type:none"> 
                                <li class="elementoLista"> Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                                <li></li>
                                <li class="elementoLista">Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                                <li></li>
                                <li class="elementoLista">Coffee</li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" target="_blank">Tea</a> </li>
                                <li class="elementoArquivo"><a href="{% static 'res.pdf' %}" download>Tea</a> </li>
                        </ul> -->